<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li aria-current="page" class="breadcrumb-item active">Calendario presenze</li>
    </ol>
</nav>
<div class="row">
    <div class="col-xxxl-12" *ngIf="showCalendar">
        <mat-card class="trinta-card full-calendar-card mb-25 bg-white border-none d-block">
            <mat-card-content>
                <full-calendar #fullCalendar [options]="calendarOptions"></full-calendar>
            </mat-card-content>
        </mat-card>
    </div>
</div>