<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li aria-current="page" class="breadcrumb-item active">Operatori</li>
    </ol>
</nav>
<mat-card class="trinta-card to-do-list-card mb-10 bg-white border-none d-block filters">
    <mat-card-content>
        <div class="filter-panel">
            <input type="checkbox" id="toggleFilter" class="toggle-checkbox">
            <label for="toggleFilter" class="toggle-label">
                Filtro operatori <span class="arrow">&#9660;</span>
            </label>

            <div class="filter-content">
                <form [formGroup]="form">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <mat-form-field>
                                    <i-feather name="map"></i-feather>
                                    <mat-label>Settore</mat-label>
                                    <mat-select formControlName="sectorId" placeholder="Seleziona il settore">
                                        <mat-option *ngFor="let p of sectors" [value]="p._id">{{p.name}}</mat-option>
                                    </mat-select>          
                                </mat-form-field>                        
                            </div>
                        <div class="col-lg-1">
                                <button mat-button class="filter" type="submit" (click)="onSubmit()">
                                    Filtra
                                </button>               
                        </div>
                        <div class="col-lg-1">
                                <button mat-button class="remove" type="submit" (click)="remove()">
                                Rimuovi
                            </button>               
                        </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-card
    class="trinta-card to-do-list-card mb-25 bg-white border-none d-block"
>
    <mat-card-content>
        <div class="to-do-list-table">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource">

                    <!-- Name Column -->
                    <ng-container matColumnDef="loginType">
                        <th mat-header-cell *matHeaderCellDef class="pl-0">
                            Tipo lavoro
                        </th>
                        <td mat-cell *matCellDef="let element" class="pl-0" data-label="Tipo lavoro">
                            <div class="position-relative">
                                <h6 class="mt-0 mb-0">
                                    {{element.loginType}}
                                </h6>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="sectorId">
                        <th mat-header-cell *matHeaderCellDef class="pl-0">
                            Settore
                        </th>
                        <td mat-cell *matCellDef="let element" class="pl-0" data-label="Settore">
                            <div class="position-relative">
                                <h6 class="mt-0 mb-0">
                                    {{element.sectorId.name}}
                                </h6>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef class="pl-0">
                            Nome
                        </th>
                        <td mat-cell *matCellDef="let element" class="pl-0" data-label="Nome">
                            <div class="position-relative">
                                <h6 class="mt-0 mb-0">
                                    {{element.name}}
                                </h6>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="lastName">
                        <th mat-header-cell *matHeaderCellDef class="pl-0">
                           Cognome
                        </th>
                        <td mat-cell *matCellDef="let element" class="pl-0" data-label="Cognome">
                            <div class="position-relative">
                                <h6 class="mt-0 mb-0">
                                    {{element.lastName}}
                                </h6>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef class="pl-0">
                            Email
                        </th>
                        <td mat-cell *matCellDef="let element" class="pl-0" data-label="Email">
                            <div class="position-relative">
                                <h6 class="mt-0 mb-0">
                                    {{element.email}}
                                </h6>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef class="pl-0">
                            Status
                        </th>
                        <td mat-cell *matCellDef="let element" class="pl-0" data-label="Status">
                            <div class="position-relative">
                                <h6 class="mt-0 mb-0">
                                    {{getElementStatus(element.status) }}
                                </h6>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef class="text-center pr-0">
                            Modifica
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-center pr-0" data-label="Modifica">
                            <div class="action">
                                <button type="button" mat-button class="p-0 min-w-auto lh-1 h-auto" (click)="UpdateItem(element)">
                                    <i class="{{element.action.edit}}"></i>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="login">
                        <th mat-header-cell *matHeaderCellDef class="text-center pr-0">
                            Login
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-center pr-0" data-label="Login">
                            <div class="action">
                                <button type="button" mat-button class="p-0 min-w-auto lh-1 h-auto" (click)="LoginAs(element)">
                                    <i class="{{element.action.login}}"></i>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="calendar">
                        <th mat-header-cell *matHeaderCellDef class="text-center pr-0">
                            Calendario 
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-center pr-0" data-label="Calendario">
                            <div class="action">
                                <button type="button" mat-button class="p-0 min-w-auto lh-1 h-auto" (click)="GoToCalendar(element)">
                                    <i class="{{element.action.calendar}}"></i>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef class="text-center pr-0">
                            Elimina
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-center pr-0" data-label="Elimina">
                            <div class="action">
                                <button type="button" mat-button class="p-0 min-w-auto lh-1 h-auto" (click)="DeleteItem(element)">
                                    <i class="{{element.action.delete}}"></i>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell text-center no-data" [attr.colspan]="displayedColumns.length">
                            Nessun operatore inserito
                        </td>
                    </tr>

                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[20, 50, 100]"></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>