<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li aria-current="page" class="breadcrumb-item active">{{title}}</li>
  </ol>
</nav>

<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <mat-card class="trinta-card mb-10 bg-white border-none d-block">
    <mat-card-content>
      <div class="row g-3">

        <!-- Nome -->
         <!-- Nome -->
        <div class="col-sm-12">
          <label class="label d-block fw-medium mb-10">Nome prodotto</label>
          <mat-form-field class="w-100">
            <i-feather name="tag"></i-feather>
            <mat-label>Nome prodotto</mat-label>
            <input matInput formControlName="name" type="text">
          </mat-form-field>
        </div>

       <div class="col-sm-6">
          <label class="label d-block fw-medium mb-10">Categoria prodotto</label>
          <mat-form-field class="w-100">
            <i-feather name="star"></i-feather>
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="categoryId">
              <mat-option *ngFor="let cat of categories" [value]="cat._id">
                {{ cat.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>        
        </div>

        <!-- Codice interno -->
        <div class="col-sm-6">
          <label class="label d-block fw-medium mb-10">Codice Interno</label>
          <mat-form-field class="w-100">
            <i-feather name="code"></i-feather>
            <mat-label>Codice Interno</mat-label>
            <input matInput formControlName="internalCode" type="text">
          </mat-form-field>
        </div>

        <div class="col-sm-6">
          <label class="label d-block fw-medium mb-10">Fornitore</label>
          <mat-form-field class="w-100">
            <i-feather name="star"></i-feather>
            <mat-label>Fornitore</mat-label>
            <mat-select formControlName="supplierId">
              <mat-option *ngFor="let supp of suppliers" [value]="supp._id">
                {{ supp.businessName }}
              </mat-option>
            </mat-select>
          </mat-form-field>        
        </div>

        <!-- Codice interno -->
        <div class="col-sm-6">
          <label class="label d-block fw-medium mb-10">Codice fornitore</label>
          <mat-form-field class="w-100">
            <i-feather name="code"></i-feather>
            <mat-label>Codice fornitore</mat-label>
            <input matInput formControlName="supplierCode" type="text">
          </mat-form-field>
        </div>

        <!-- Soglia -->
        <div class="col-sm-4">
          <label class="label d-block fw-medium mb-10">Soglia</label>
          <mat-form-field class="w-100">
            <i-feather name="bell"></i-feather>
            <mat-label>Soglia</mat-label>
            <input matInput formControlName="theshold" type="number">
          </mat-form-field>
        </div>


        <!-- Prezzo -->
        <div class="col-sm-4">
          <label class="label d-block fw-medium mb-10">Prezzo</label>
          <mat-form-field class="w-100">
            <span class="material-symbols-outlined in-mat">
              euro
            </span>
            <mat-label>Prezzo</mat-label>
            <input matInput formControlName="price" type="number">
          </mat-form-field>
        </div>

        <!-- Costo -->
        <div class="col-sm-4">
          <label class="label d-block fw-medium mb-10">Costo</label>
          <mat-form-field class="w-100">
            <i-feather name="trending-down"></i-feather>
            <mat-label>Costo</mat-label>
            <input matInput formControlName="cost" type="number">
          </mat-form-field>
        </div>

        <!-- Stock type -->
        <div class="col-sm-6">
          <label class="label d-block fw-medium mb-10">Tipo di stock</label>
          <mat-form-field class="w-100">
            <i-feather name="layers"></i-feather>
            <mat-label>stock</mat-label>
            <mat-select formControlName="stock_type">
              <mat-option *ngFor="let unit of stockTypes" [value]="unit.value">
                {{unit.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Stato -->
        <div class="col-sm-6">
          <label class="label d-block fw-medium mb-10">Stato</label>
          <mat-form-field class="w-100">
            <i-feather name="activity"></i-feather>
            <mat-label>Status</mat-label>
            <mat-select formControlName="enabled">
              <mat-option [value]="true">Attivo</mat-option>
              <mat-option [value]="false">Disattivo</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Descrizione -->
        <div class="col-sm-12">
          <label class="label d-block fw-medium mb-10">Descrizione</label>
          <mat-form-field class="w-100">
            <i-feather name="file-text"></i-feather>
            <mat-label>Descrizione</mat-label>
            <textarea matInput formControlName="description" style="min-height: 200px;"></textarea>
          </mat-form-field>
        </div>

        <div class="col-sm-12">
          <div class="preview-list mb-10" *ngIf="uploadedFiles.length > 0">
              <label class="label d-block fw-medium mb-10">Foto caricate</label>
              <div *ngFor="let file of uploadedFiles; let i = index" class="preview-item mb-3">
                <div *ngIf="openedImage" class="overlay" (click)="openedImage=null">
                  <img [src]="openedImage" class="big-image">
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <span class="files-uploaded">
                      <img [src]="'data:image/png;base64,' + file.base64" [alt]="file.name" class="thumbnail"
                       (click)="openedImage='data:image/png;base64,'+file.base64">
                    </span>
                    <button mat-icon-button (click)="removeFile(i)" aria-label="Elimina file">
                        <i class="ri-delete-bin-line"></i>
                    </button>
                </div>
              </div>
          </div>
      </div>
      <div class="col-sm-12">
        <div *ngIf="rejectedFiles.length > 0" class="alert alert-danger position-relative radius-0 alert-excedeed" [@fadeOut]>
          <button class="btn-close position-absolute m-2 close-excedeed" (click)="dismissRejectedFiles()">x</button>
          <h5>Questi file sono riufiutati:</h5>
          <div *ngFor="let file of rejectedFiles; let i = index" class="preview-item mb-3">
              <div class="d-flex justify-content-between align-items-center">
                  - {{ file.name }} – {{ file.reason }}
              </div>
          </div>
        </div>
      </div>

       <div class="col-sm-12">
            <label class="label d-block fw-medium mb-10">Foto del prodotto</label>
            <ngx-file-drop (onFileDrop)="onFileDrop($event)">
                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                    <div class="drop-zone" (click)="openFileSelector()">
                       Aggiungi foto (Max 3 MB)
                    </div>
                </ng-template>
            </ngx-file-drop>   
            
        </div>
        <!-- Pulsanti -->
        <div class="col-sm-6 mt-10 text-start">
          <button mat-flat-button class="back" type="button" (click)="returnBack()">Back</button>
        </div>
        <div class="col-sm-6 mt-10 text-end">
          <button mat-flat-button color="primary" type="submit" [disabled]="productForm.invalid">
            Salva
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>
