<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">
      Cambia password
    </li>
  </ol>
</nav>

<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

  <mat-card class="trinta-card mb-10 bg-white border-none d-block">
    <mat-card-content>

      <div class="row g-3">

        <!-- Vecchia password -->
        <div class="col-sm-12 mb-10">
          <label class="label d-block fw-medium mb-10">
            Vecchia password
          </label>
          <mat-form-field class="w-100">
             <i-feather name="lock"></i-feather>
            <mat-label>Inserisci la vecchia password</mat-label>
            <input matInput type="password" formControlName="oldPassword">
            <mat-error *ngIf="changePasswordForm.get('oldPassword')?.touched 
                 && changePasswordForm.get('oldPassword')?.errors?.['required']" class="custom-error">
                Campo obbligatorio
            </mat-error>
            <mat-error
                *ngIf="changePasswordForm.get('oldPassword')?.errors?.['wrongPassword']" class="custom-error">
                La password inserita non coincide con la precedente
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Nuova password -->
        <div class="col-sm-12 mb-10">
          <label class="label d-block fw-medium mb-10">
            Nuova password
          </label>
          <mat-form-field class="w-100">
             <i-feather name="unlock"></i-feather>
            <mat-label>Inserisci la nuova password</mat-label>
            <input matInput type="password" formControlName="newPassword">
            <mat-error *ngIf="changePasswordForm.get('newPassword')?.touched 
                && changePasswordForm.get('newPassword')?.invalid" class="custom-error">
                Minimo 8 caratteri
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Conferma password -->
        <div class="col-sm-12 mb-10">
          <label class="label d-block fw-medium mb-10">
            Conferma nuova password
          </label>
          <mat-form-field class="w-100">
             <i-feather name="unlock"></i-feather>
            <mat-label>Conferma la nuova password</mat-label>
            <input matInput type="password" formControlName="confirmPassword">
            <mat-error
            *ngIf="changePasswordForm.errors?.['passwordMismatch']
                    && changePasswordForm.get('confirmPassword')?.touched" class="custom-error">
            Le password non coincidono
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Pulsanti -->
        <div class="col-sm-12 mt-15 text-end">
          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="changePasswordForm.invalid">
            Salva
          </button>
        </div>

      </div>

    </mat-card-content>
  </mat-card>

</form>
