<div
    class="sidebar-area bg-white transition sidebar-shadow"
    [ngClass]="{'active': isToggled}"
>
    <div class="logo">
        <a routerLink="/" class="d-flex align-items-center">
            <img src="images/logo.png" alt="logo-icon" width="33px">
            <span>
               TRISCELE
            </span>
        </a>
    </div>
    <div
        class="burger-menu transition cursor-pointer"
        [ngClass]="{'active': isToggled}"
        (click)="toggle()"
    >
        <span class="top-bar transition bg-dark d-block"></span>
        <span class="middle-bar transition bg-dark d-block"></span>
        <span class="bottom-bar transition bg-dark d-block"></span>
    </div>
    <ng-scrollbar visibility="hover">
        <div class="sidebar-inner">
            <div class="sidebar-menu">
                <mat-accordion>
                    <span class="sub-title text-body sbs" *ngIf="isVisibleDashboard">
                        MAIN
                    </span>
                    <a routerLink="/dashboard" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="isVisibleDashboard">
                        <i-feather name="activity"></i-feather>
                        <span class="title">
                            Dashboard
                        </span>
                    </a>
                    <span class="sub-title text-body sbs" *ngIf="isVisibleUsers">
                        UTENTI
                    </span>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true" *ngIf="isVisibleCustomers">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i-feather name="users"></i-feather>
                                <span class="title">
                                    Clienti
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/customers" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Vedi tutti
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/customer/add" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Aggiungi
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true" *ngIf="isVisibleOperators">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i-feather name="command"></i-feather>
                                <span class="title">
                                    Operatori
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/operators" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Vedi tutti
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/operator/add" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Aggiungi
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true" *ngIf="isVisibleSuppliers">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i-feather name="briefcase"></i-feather>
                                <span class="title">
                                    Fornitori
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/suppliers" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Vedi tutti
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/supplier/add" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Aggiungi
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>

                    <span class="sub-title text-body sbs" *ngIf="isVisibleProductions">
                        PRODUTTIVITA'
                    </span>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true" *ngIf="isVisibleProducts">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i-feather name="bar-chart-2"></i-feather>
                                <span class="title">
                                    Prodotti
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/categories" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Categorie
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/products/options" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Opzioni
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Vedi prodotti
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/product/add" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Aggiungi prodotto
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true" *ngIf="isVisibleAdmin">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i-feather name="file-text"></i-feather>
                                <span class="title">
                                    Preventivi
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a [routerLink]="['/quotations']" routerLinkActive="active" 
                                    [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Vedi tutti
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a [routerLink]="['/order/add']" [queryParams]="{ state: 11 }" routerLinkActive="active" 
                                    [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Aggiungi
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>

                    <a routerLink="/operator-orders" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="isVisibleOperatorOrders">
                        <i-feather name="file-text"></i-feather>
                        <span class="title">
                            Ordini
                        </span>
                    </a>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true" *ngIf="isVisibleOrders">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i-feather name="file-text"></i-feather>
                                <span class="title">
                                    Ordini
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/orders" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Vedi tutti
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/order/add" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Aggiungi
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>

                    <span class="sub-title text-body sbs" *ngIf="isVisibleAdmin">
                        SETTINGS
                    </span>
                    <a routerLink="/sectors" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="isVisibleAdmin">
                        <i-feather name="credit-card"></i-feather>
                        <span class="title">
                            Settori
                        </span>
                    </a>                

                    <a routerLink="/agents" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="isVisibleAdmin">
                        <i-feather name="users"></i-feather>
                        <span class="title">
                            Agenti
                        </span>
                    </a>                

                    <a routerLink="/order-state" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="isVisibleAdmin">
                        <i-feather name="bar-chart-2"></i-feather>
                        <span class="title">
                            Stato ordini
                        </span>
                    </a>                

                    <span class="sub-title text-body sbs" *ngIf="isOperator">
                        PRESENZE
                    </span>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true" *ngIf="isOperator">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i-feather name="user-x"></i-feather>
                                <span class="title">
                                    Richieste Assenze
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="operator/permission-holiday" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Vedi tutte
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="operator/permission-holiday/add" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Aggiungi
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true" *ngIf="isOperator">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i-feather name="user-x"></i-feather>
                                <span class="title">
                                    Comunicazioni malattie
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="operator/illness" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Vedi tutte
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="operator/illness/add" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Aggiungi
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                    
                    <a routerLink="/operator/calendar" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="isOperator">
                        <i-feather name="calendar"></i-feather>
                        <span class="title">
                           Calendario presenze
                        </span>
                    </a>                

                    <a class="sidebar-menu-link sbs" (click)="logout()" href="#">
                        <i-feather name="Lock"></i-feather>
                        <span class="title">Logout</span>
                    </a>
                </mat-accordion>
            </div>
        </div>
    </ng-scrollbar>
</div>