<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li aria-current="page" class="breadcrumb-item active">Prodotti</li>
  </ol>
</nav>

<mat-card class="trinta-card to-do-list-card mb-25 bg-white border-none d-block">
  <mat-card-content>
    <div class="to-do-list-table">
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource">

          <!-- Nome -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="pl-0"> Nome </th>
            <td mat-cell *matCellDef="let element" class="pl-0">
              <h6 class="mt-0 mb-0">{{element.name}}</h6>
            </td>
          </ng-container>

          <!-- Codice interno -->
          <ng-container matColumnDef="internalCode">
            <th mat-header-cell *matHeaderCellDef class="pl-0"> Codice Interno </th>
            <td mat-cell *matCellDef="let element" class="pl-0">
              <h6 class="mt-0 mb-0">{{element.internalCode}}</h6>
            </td>
          </ng-container>

          <!-- costo -->
          <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef class="pl-0"> Costo </th>
            <td mat-cell *matCellDef="let element" class="pl-0">
              <h6 class="mt-0 mb-0">{{element.cost}} €</h6>
            </td>
          </ng-container>

          <!-- Prezzo -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef class="pl-0"> Prezzo </th>
            <td mat-cell *matCellDef="let element" class="pl-0">
              <h6 class="mt-0 mb-0">{{element.price}} €</h6>
            </td>
          </ng-container>

          <!-- Fornitore -->
          <ng-container matColumnDef="supplierCode">
            <th mat-header-cell *matHeaderCellDef class="pl-0"> Fornitore </th>
            <td mat-cell *matCellDef="let element" class="pl-0">
              <h6 class="mt-0 mb-0">{{element.supplierCode}}</h6>
            </td>
          </ng-container>

          <!-- Stato -->
          <ng-container matColumnDef="enabled">
            <th mat-header-cell *matHeaderCellDef class="pl-0"> Stato </th>
            <td mat-cell *matCellDef="let element" class="pl-0">
              <h6 class="mt-0 mb-0">{{element.enabled ? 'Attivo' : 'Disattivo'}}</h6>
            </td>
          </ng-container>

          <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef class="text-center pr-0">
                  Modifica
              </th>
              <td mat-cell *matCellDef="let element" class="text-center pr-0">
                  <div class="action">
                      <button type="button" mat-button class="p-0 min-w-auto lh-1 h-auto" (click)="UpdateItem(element)">
                          <i class="{{element.action.edit}}"></i>
                      </button>
                  </div>
              </td>
          </ng-container>

          <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef class="text-center pr-0">
                  Elimina
              </th>
              <td mat-cell *matCellDef="let element" class="text-center pr-0">
                  <div class="action">
                      <button type="button" mat-button class="p-0 min-w-auto lh-1 h-auto" (click)="DeleteItem(element)">
                          <i class="{{element.action.delete}}"></i>
                      </button>
                  </div>
              </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell text-center no-data" [attr.colspan]="displayedColumns.length">
              Nessun prodotto inserito
            </td>
          </tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[20, 50, 100]"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
