<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li aria-current="page" class="breadcrumb-item active">{{title}}</li>
  </ol>
</nav>

<form [formGroup]="disciplinaryForm" (ngSubmit)="onSubmit()">
  <mat-card class="trinta-card mb-10 bg-white border-none d-block">
    <mat-card-content>
      <div class="row g-3"> 
        <div class="col-md-12">
            <h3>Dati personali</h3>
        </div>

        <!-- Ragione sociale -->
        <div class="col-sm-6">
          <label class="label d-block fw-medium mb-10">Ragione sociale</label>
          <mat-form-field class="w-100">
            <i-feather name="briefcase"></i-feather>
            <mat-label>Ragione sociale</mat-label>
            <input matInput formControlName="businessName" type="text">
          </mat-form-field>
        </div>

        <!-- Partita IVA -->
        <div class="col-sm-6">
          <label class="label d-block fw-medium mb-10">Partita IVA</label>
          <mat-form-field class="w-100">
            <i-feather name="file-text"></i-feather>
            <mat-label>Partita IVA</mat-label>
            <input matInput formControlName="vatNumber" type="text">
            <mat-error *ngIf="disciplinaryForm.get('vatNumber')?.hasError('required')">
              La Partita IVA è obbligatoria
            </mat-error>
            <mat-error *ngIf="disciplinaryForm.get('vatNumber')?.hasError('partitaIva')">
              {{ disciplinaryForm.get('vatNumber')?.getError('partitaIva') }}
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Nome e Cognome -->
        <div class="col-sm-6">
          <label class="label d-block fw-medium mb-10">Nome</label>
          <mat-form-field class="w-100">
            <i-feather name="user"></i-feather>
            <mat-label>Nome</mat-label>
            <input matInput formControlName="name" type="text">
          </mat-form-field>
        </div>

        <div class="col-sm-6">
          <label class="label d-block fw-medium mb-10">Cognome</label>
          <mat-form-field class="w-100">
            <i-feather name="user-check"></i-feather>
            <mat-label>Cognome</mat-label>
            <input matInput formControlName="lastName" type="text">
          </mat-form-field>
        </div>


        <!-- Data di nascita  -->
        <div class="col-sm-6">
          <label class="label d-block fw-medium mb-10">Data di nascita</label>
          <mat-form-field class="w-100">
            <i-feather name="calendar"></i-feather>
            <mat-label>Data di nascita</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birthDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>          
          </mat-form-field>
        </div>
 
        <div class="col-sm-6">
          <label class="label d-block fw-medium mb-10">Telefono</label>
          <mat-form-field class="w-100">
            <i-feather name="phone"></i-feather>
            <mat-label>Telefono</mat-label>
            <input matInput formControlName="mobile" type="text">
          </mat-form-field>
        </div>

        <!-- SDI e Status -->
        <div class="col-sm-6">
          <label class="label d-block fw-medium mb-10">SDI</label>
          <mat-form-field class="w-100">
            <i-feather name="database"></i-feather>
            <mat-label>SDI</mat-label>
            <input matInput formControlName="sdi" type="text">
          </mat-form-field>
        </div>

        <div class="col-sm-6 mb-10">
          <label class="label d-block fw-medium mb-10">Status</label>
          <mat-form-field class="w-100">
            <i-feather name="activity"></i-feather>
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
              <mat-option [value]="1">Attivo</mat-option>
              <mat-option [value]="2">Disattivo</mat-option>
              <mat-option [value]="3">Cancellato</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-12">
            <h3>Dati di accesso</h3>
        </div>
        <!-- Email -->
        <div class="col-sm-6">
          <label class="label d-block fw-medium mb-10">Email</label>
          <mat-form-field class="w-100">
            <i-feather name="mail"></i-feather>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email">
          </mat-form-field>
        </div>

        <div class="col-sm-6">
          <label class="label d-block fw-medium mb-10">Passowrd</label>
          <mat-form-field class="w-100">
            <i-feather name="lock"></i-feather>
            <mat-label>Pwd</mat-label>
            <input matInput formControlName="pwd" type="password">
          </mat-form-field>
        </div>



        <div class="col-md-12 mt-10">
            <h3>Indirizzo</h3>
        </div>

        <!-- Indirizzo e CAP -->
        <div class="col-sm-6">
          <label class="label d-block fw-medium mb-10">Indirizzo</label>
          <mat-form-field class="w-100">
            <i-feather name="map-pin"></i-feather>
            <mat-label>Indirizzo</mat-label>
            <input matInput formControlName="address" type="text">
          </mat-form-field>
        </div>

        <div class="col-sm-6">
          <label class="label d-block fw-medium mb-10">CAP</label>
          <mat-form-field class="w-100">
            <i-feather name="map-pin"></i-feather>
            <mat-label>CAP</mat-label>
            <input matInput formControlName="zipCode" type="text">
          </mat-form-field>
        </div>

        <!-- Provincia e Comune -->
        <div class="col-sm-6">
          <label class="label d-block fw-medium mb-10">Provincia</label>
          <mat-form-field class="w-100">
            <i-feather name="map"></i-feather>
            <mat-label>Provincia</mat-label>
            <mat-select formControlName="province" placeholder="Seleziona provincia">
              <mat-option *ngFor="let p of province" [value]="p">{{p}}</mat-option>
            </mat-select>          
          </mat-form-field>
        </div>

        <div class="col-sm-6">
          <label class="label d-block fw-medium mb-10">Comune</label>
          <mat-form-field class="w-100">
            <i-feather name="home"></i-feather>
            <mat-label>Comune</mat-label>
            <input matInput formControlName="city" type="text">
          </mat-form-field>
        </div>

        <div class="col-sm-12">
          <label class="label d-block fw-medium mb-10">Agente</label>
          <mat-form-field class="w-100">
            <i-feather name="user-check"></i-feather>
            <mat-label>Agente</mat-label>
            <input matInput formControlName="agentName" type="text">
          </mat-form-field>
        </div>

        <!-- Pulsanti -->
        <div class="col-sm-6 mt-10 text-start">
            <button mat-flat-button class="back" type="submit" (click)="returnBack()">
                back
            </button>
        </div>
        <div class="col-sm-6 mt-10 text-end">
            <button mat-flat-button color="primary" type="submit" [disabled]="disciplinaryForm.invalid">
                Save
            </button>
        </div>

      </div>
    </mat-card-content>
  </mat-card>

  <input formControlName="id" type="hidden" value="">
</form>
