<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Presenza di oggi</li>
  </ol>
</nav>

<mat-card class="trinta-card full-calendar-card mb-25 bg-white border-none d-block">
  <mat-card-content>

    <div class="dashboard-container">

        <!-- ===== PRIMA DELL'ENTRATA ===== -->
        <div class="card-entry entry-form" *ngIf="!attendance" @fadeIn>
          <h2 class="text-center mb-20">Conferma Presenza</h2>

          <div class="card-body">

            <!-- Orario di entrata -->
            <label class="label d-block fw-medium mb-10 text-start">Orario di entrata</label>
            
            <mat-form-field class="w-100 mb-15">
              <i-feather name="clock"></i-feather>
              <mat-label>Orario di entrata</mat-label>
              <input
                matInput
                [value]="entryTime"
                disabled
              />
            </mat-form-field>

            <!-- Note -->
            <label class="label d-block fw-medium mb-10 text-start">Note</label>
            
            <mat-form-field class="w-100 mb-20">
              <i-feather name="file-text"></i-feather>
              <mat-label>Note</mat-label>
              <textarea
                matInput
                rows="3"
                [(ngModel)]="notes"
                placeholder="Inserisci eventuali note"
              ></textarea>
            </mat-form-field>

            <!-- Bottone -->
            <div class="text-center">
              <button
                mat-raised-button
                class="btn-confirm px-30"
                (click)="confirmEntry()"
              >
                Conferma Entrata
              </button>
            </div>

          </div>
        </div>

        <!-- ===== GIORNATA ATTIVA ===== -->
        <div class="active-day" *ngIf="attendance && !attendance.exitTime">
          <div class="row g-3"> 
              <div class="col-lg-6">
                <div class="active-form">
                  <h2>Giornata attiva</h2>
                  <div class="timer-card pulse" @fadeIn [class.timer-paused]="hasActiveBreak()">
                    <h4>Tempo Lavorato</h4>
                    <h3 class="timer">{{ liveTimer }}</h3>
                  </div>
                  <h4>Ritardo</h4>
                  <div *ngIf="isLate" class="red">
                    In questo momento hai un ritardo<br> di {{minLate}} minuti da recuperare in giornata.
                  </div>
                  <div *ngIf="!isLate && !advance" class="green">
                    In questo momento non hai ritardi da recuperare<br><br>
                  </div>
                  <div *ngIf="!isLate && advance" class="green">
                    Hai {{ minLate < 0 ? -minLate : minLate }} minuti di 'credito'.<br>Puoi uscire prima rispettando i tempi.
                  </div>
                </div>
              </div>
              

              <div class="col-lg-6">

                <!-- ========================= -->
                <!-- MOMENTO 1: NON IN PAUSA -->
                <!-- ========================= -->
                <div class="active-form" *ngIf="!hasActiveBreak()" @fadeIn>

                  <div class="breaks-list">
                    <h2>Pause effettuate</h2>

                    <div class="break-item" *ngFor="let b of attendance.breaks; let i = index">
                      <span class="break-index">#{{ i + 1 }}</span>
                      <span class="break-time">
                        {{ b.start }} – {{ b.end ? b.end : 'in corso' }}
                      </span>
                    </div>

                    <div class="break-item center" *ngIf="attendance.breaks.length === 0">
                      <span>Nessuna pausa ancora effettuata</span>
                    </div>
                  </div>

                  <!-- TEMPO PAUSA RIMANENTE GIORNALIERO -->
                  <div class="timer-cards" [class.breakExceeded]="breakExceeded">
                    <small>Tempo pausa rimanente oggi</small>
                    <h3 class="timer">{{ getRemainingDailyBreak() }}</h3>
                     <small *ngIf="breakExceeded" class="over-label">
                      Limite di pausa superato
                    </small>
                  </div>

                  <button mat-raised-button
                          class="btn-confirm start-pause"
                          (click)="startBreak()"
                          [disabled]="getRemainingDailyBreak() === '0h 0m 0s'">
                    Inizia Pausa
                  </button>
                </div>

                <!-- ========================= -->
                <!-- MOMENTO 2: PAUSA ATTIVA -->
                <!-- ========================= -->
                <div class="active-form" *ngIf="hasActiveBreak()" @fadeIn>
                  <h3>Pausa in corso</h3>

                  <!-- COUNTDOWN LIMITE PAUSA -->
                  <div class="timer-card pulse" [class.breakExceeded]="breakExceeded" [class.pulse-red]="breakExceeded">
                    <h4>Tempo rimanente</h4>
                    <h3 class="timer">{{ breakRemaining }}</h3>
                    <div class="progress-bar-container">
                      <div class="progress-bar" [style.width.%]="getBreakProgress()"></div>
                    </div>

                    <small *ngIf="breakExceeded" class="over-label">
                      Limite di pausa superato
                    </small>
                  </div>

                  <button mat-raised-button class="btn-close" (click)="endBreak()">
                    Termina Pausa
                  </button>
                </div>
              </div>


              <div class="col-lg-12">
                <div @fadeIn>
                  <button class="close-day" (click)="confirmExit()" [disabled]="hasActiveBreak()">
                    Chiudi Giornata
                  </button>
                </div>
              </div>
          </div>
        </div>
        <!-- ===== RIEPILOGO ===== -->
        <div class="card-summary" *ngIf="attendance?.exitTime" @fadeIn>
          <div class="summary-card">
            <div class="summary-header">
                <i-feather name="check-circle" class="summary-icon"></i-feather>
                <h2>Riepilogo giornata</h2>
            </div>

            <div class="summary-content">
                <!-- ENTRATA -->
                <div class="summary-row">
                    <span class="label">Entrata</span>
                    <span class="value">{{ attendance!.entryTime }}</span>
                </div>

                <!-- PAUSE -->
                <div class="summary-row" *ngFor="let b of attendance!.breaks">
                    <span class="label">Pausa</span>
                    <span class="value"> {{ b.start }} - {{ b.end || 'In corso' }}</span>
                </div>

                <!-- USCITA -->
                <div class="summary-row">
                    <span class="label">Uscita</span>
                    <span class="value">{{ attendance!.exitTime }}</span>
                </div>

                <!-- DURATA PAUSE -->
                <div class="summary-row total">
                    <span class="label">Durata pause</span>
                    <span class="value">
                        {{ calculateTotalBreakDuration() }}
                    </span>
                </div>

                <!-- TOTALE ORE LAVORATE -->
                <div class="summary-row total">
                    <span class="label">Totale ore lavorate</span>
                    <span class="value">
                        {{ calculateWorkedTime() }}
                    </span>
                </div>
                <div class="summary-row total red" *ngIf="isLate">
                    <span class="label">Ritardo</span>
                    <span class="value">
                        {{ this.minLate }} minuti
                    </span>
                </div>

                <!-- NOTE -->
                <div class="summary-row notes" *ngIf="attendance?.notes">
                    <span class="label">Note</span>
                    <p class="note-text">{{ attendance?.notes }}</p>
                </div>

            </div>
          </div>
        </div>
    </div>
  </mat-card-content>
</mat-card>
