<h1 mat-dialog-title>{{title}}</h1>
<form [formGroup] = "form">
  <mat-card class="trinta-card mb-10 bg-white border-none d-block">
    <mat-card-content>
      <div class="row g-3" *ngFor="let o of masterOptions"> 
        <div class="col-sm-12">
          <label class="d-block option-bg">Opzione: <span>{{ o.option.name | titlecase }}</span></label>
          <label class="label d-block fw-medium">Prodotto</label>
          <mat-form-field class="w-100">
            <i-feather name="layers"></i-feather>
            <mat-label>Prodotto</mat-label>
            <mat-select formControlName="parentProduct" (selectionChange)="setSubOption($event)">
              <mat-option *ngFor="let p of o.option.products" [value]="p">
                {{ p.name }}
              </mat-option>
            </mat-select>          
          </mat-form-field>
        </div>
        <div class="col-sm-12" *ngIf="haveFirstOption">
          <label class="d-block option-bg">Opzione: <span>{{ o.option.name | titlecase }}</span></label>
          <label class="label d-block fw-medium">Prodotto</label>
          <mat-form-field class="w-100">
            <i-feather name="layers"></i-feather>
            <mat-label>Prodotto</mat-label>
            <mat-select formControlName="parentProduct">
              <mat-option *ngFor="let p of o.option.products" [value]="p">
                {{ p.name }}
              </mat-option>
            </mat-select>          
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>
<mat-dialog-actions>
  <button mat-button (click)="onClose()" class="btn back">Chiudi</button>
  <button mat-flat-button (click)="onSave()" class="btn" [disabled]="form.invalid">Salva</button>
</mat-dialog-actions>
