<div class="row">
    <div class="col-md-12 col-xxxl-4">

        <mat-card class="trinta-card number-card mb-25 bg-white border-none d-block">
            <mat-card-content>
                <i class="ri-store-line big-icons"></i>
                <div class="ctn-numbers">            
                    <h5 class="mt-0 mb-5 pl-0">
                        Totale ordini
                    </h5>
                    <h3 *ngIf="loaded">
                        {{orders}}
                    </h3>
                    <h4 *ngIf="!loaded">
                        <i class="ri-refresh-line rotate"></i>
                    </h4>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-12 col-xxxl-4">
        <mat-card class="trinta-card number-card mb-25 bg-white border-none d-block">
            <mat-card-content>
                <i class="ri-group-line big-icons"></i>    
                <div class="ctn-numbers">            
                    <h5 class="mt-0 mb-5 pl-0">
                        Totale clienti
                    </h5>
                    <h3 *ngIf="loaded">
                        {{customers}}
                    </h3>
                    <h4 *ngIf="!loaded">
                        <i class="ri-refresh-line rotate"></i>
                    </h4>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-12 col-xxxl-4">
        <mat-card class="trinta-card number-card card-alert mb-25 bg-white border-none d-block">
            <mat-card-content>
                <i class="ri-bar-chart-grouped-line big-icons"></i>    
                <div class="ctn-numbers">            
                    <h5 class="mt-0 mb-5 pl-0">
                        Prodotti in esaurimento
                    </h5>
                    <h3>
                        {{productsEnd}}
                    </h3>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="row">
    <div class="col-xxxl-8">
        <mat-card class="trinta-card balance-overview-card mb-25 bg-white border-none d-block" style="min-height: 500px;">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mt-0 mb-15 pl-0">
                        Ordini del {{y}}
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="chart" *ngIf="loaded">
                    <div id="crm_balance_overview_chart"></div>
                </div>
                <div class="load-chart" *ngIf="!loaded">
                     <i class="ri-refresh-line rotate"></i>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxxl-4">
        <mat-card  class="trinta-card to-do-list-card mb-25 bg-white border-none d-block blocs">
            <mat-card-content>
                <h5 class="mt-0 mb-25 pl-0">
                    Prodotti in esaurimento
                </h5>
                <div class="to-do-list-table">
                    <div class="table-responsive">
                        <table mat-table [dataSource]="dataSource" matSort>

                        <!-- Nome -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="pl-0"> Nome </th>
                            <td mat-cell *matCellDef="let element" class="pl-0">
                            <h6 class="mt-0 mb-0">{{element.name}}</h6>
                            </td>
                        </ng-container>

                        <!-- Categoria -->
                        <ng-container matColumnDef="category">
                            <th mat-header-cell *matHeaderCellDef class="pl-0"> Categoria </th>
                            <td mat-cell *matCellDef="let element" class="pl-0">
                                <div class="position-relative">
                                    <h6 #el
                                        class="truncate"
                                        (mouseenter)="element.showTooltip = el.scrollWidth > el.clientWidth"
                                        [matTooltip]="element.showTooltip ? element.category.name : ''" matTooltipPosition="right">
                                        {{element.category.name}}
                                    </h6>
                                </div>
                            </td>
                        </ng-container>

                        <!-- soglia -->
                        <ng-container matColumnDef="theshold">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="pl-0"> Soglia </th>
                            <td mat-cell *matCellDef="let element" class="pl-1">
                            <h6 class="mt-0 mb-0">{{element.theshold}} </h6>
                            </td>
                        </ng-container>

                        <!-- costo -->
                        <ng-container matColumnDef="stock">
                            <th mat-header-cell *matHeaderCellDef class="pl-0" mat-sort-header> Giacenza </th>
                            <td mat-cell *matCellDef="let element" class="pl-1">
                            <h6 class="mt-0 mb-0">
                                <a (click)="addMovements(element)" class="pointer error">
                                    {{element.stock}}
                                    <i class="ri-arrow-drop-down-line"></i>
                                </a>
                            </h6>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell text-center no-data" [attr.colspan]="displayedColumns.length">
                            Nessun prodotto in esaurimento
                            </td>
                        </tr>
                        </table>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>