<nav aria-label="breadcrumb" class="position-relative">
    <ol class="breadcrumb">
        <li aria-current="page" class="breadcrumb-item active">Assenze per malattia</li>
    </ol>
</nav>
<mat-card
    class="trinta-card to-do-list-card mb-25 bg-white border-none d-block"
>
    <mat-card-content>
        <div class="to-do-list-table">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource">

                    <!-- Name Column -->
                    <ng-container matColumnDef="protocol">
                        <th mat-header-cell *matHeaderCellDef class="pl-0">
                            Procollo
                        </th>
                        <td mat-cell *matCellDef="let element" class="pl-0" data-label="Procollo">
                            <div class="position-relative">
                                <h6 class="mt-0 mb-0">
                                    {{element.protocol}}
                                </h6>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="startDate">
                        <th mat-header-cell *matHeaderCellDef class="pl-0">
                            Inizio
                        </th>
                        <td mat-cell *matCellDef="let element" class="pl-0" data-label="Inizio">
                            <div class="position-relative">
                                <h6 class="mt-0 mb-0">
                                    {{getItalianDate(element.start)}}
                                </h6>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="endDate">
                        <th mat-header-cell *matHeaderCellDef class="pl-0">
                            Fine
                        </th>
                        <td mat-cell *matCellDef="let element" class="pl-0" data-label="Fine">
                            <div class="position-relative">
                                <h6 class="mt-0 mb-0">
                                    {{getItalianDate(element.end)}}
                                </h6>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef class="text-center pr-0 mini">
                            Modifica
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-center pr-0 mini" data-label="Modifica">
                            <div class="action">
                                <button type="button" mat-button class="p-0 min-w-auto lh-1 h-auto" (click)="UpdateItem(element)">
                                    <i class="{{element.action.edit}}"></i>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef class="text-center pr-0 mini">
                            Elimina
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-center pr-0 mini" data-label="Elimina">
                            <div class="action">
                                <button type="button" mat-button class="p-0 min-w-auto lh-1 h-auto"
                                 (click)="DeleteItem(element)">
                                    <i class="{{element.action.delete}}"></i>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell text-center no-data" [attr.colspan]="displayedColumns.length">
                            Nessuna assenza inserita
                        </td>
                    </tr>

                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[20, 50, 100]"></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>